*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
  color: white;
  outline: none;
}
*:focus {
  box-shadow: 0px 0px 10px 5px var(--starting-background-color);
}

:root {
  --app-height: 100%;
  --box-size: 60px;
  --starting-background-color: rgb(99, 99, 99);
  --row-width: calc(var(--box-size) * 5);
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.container,
#root {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
}

canvas {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: grey;
  z-index: -1;
}

button {
  border: 3px outset white;
  font-weight: 500;
  background-color: var(--starting-background-color);
}
button:active {
  background-color: rgb(78, 78, 78);
}

input {
  font-weight: 500;
  background-color: var(--starting-background-color);
}
/*CSS for LoadScreen*/
.saved-games-list {
  padding-top: 1%;
  display: flex;
  width: 70%;
  height: 50%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 3px inset white;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /*  Firefox */
  gap: 2%;
}

.saved-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--starting-background-color);
  border: 3px outset white;
  width: 90%;
  font-size: 30px;
  gap: 10px;
}

.selected-game {
  background-color: rgb(65, 65, 65);
}

/*CSS for CreateUserScreen*/
.name-input {
  display: flex;
  height: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.name-input input {
  font-size: 1.5rem;
  height: 3rem;
  text-align: center;
  outline: none;
}
span.error {
  font-size: 1.5rem;
  font-weight: lighter;
  background-color: rgb(65, 65, 65);
  width: 100%;
}

/*CSS for HomeScreen*/
.title {
  height: fit-content;
  width: fit-content;
  font-size: 4rem;
  text-align: center;
}

.buttons {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

/*CSS for GameScreen*/
.rounded {
  border-radius: 50%;
}
.box-shadow {
  box-shadow: -1px 3px 9px 2px rgb(0 0 0 / 85%);
}
#pause {
  position: absolute;
  height: calc(var(--box-size) / 1.5);
  width: calc(var(--box-size) / 1.5);
  top: 0.5rem;
  left: 0.5rem;
  background: none;
  z-index: 2;
  background-image: url('./images/pause.svg');
  background-size: 100% 100%;
}

.messages {
  position: absolute;
  top: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 82%;
  height: fit-content;
  font-size: 1.5rem;
  border: 5px outset white;
  background-color: black;
  color: white;
  z-index: 2;
}

.messages button {
  width: fit-content;
  font-size: 1.25rem;
  margin: 1rem;
  background-color: white;
  color: black;
}

.messages div {
  text-align: center;
  padding: 0.5rem;
}

.game-board {
  padding: 2px;
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  width: var(--row-width);
  height: 100%;
  z-index: 1;
}
.board-row {
  position: relative;
  width: inherit;
}

.game-obstacle-row,
.player-row {
  position: absolute;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(5, var(--box-size));
}
/* .flip-top {
  animation: flip-top 500ms ease-out;
  transform-origin: bottom;
}
.flip-bottom {
  animation: flip-bottom 500ms ease-in;
  transform-origin: top;
}
.flip-top-gone {
  display: none;
}
@keyframes flip-bottom {
  0% {
    transform: rotateX(90deg);
  }
  50% {
    transform: rotateX(45deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

@keyframes flip-top {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(45deg);
  }
  100% {
    transform: rotateX(90deg);
  }
} */
.game-obstacle-row div {
  width: var(--box-size);
  height: var(--box-size);
}
.block-obstacle {
  background-color: var(--starting-background-color);
}

.block-tile {
  background-color: grey;
}

#player {
  position: absolute;
  width: var(--box-size);
  height: var(--box-size);
  background-color: var(--starting-background-color);
  grid-column: 1/2;
}
